<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <title>Alerta</title>
   <link rel="stylesheet" href="Plantilla.css">
</head>

<body>
   <div class="layout">
      <!-- Encabezado de la página-->
      <header class="header">
         <div class="logo">
            <img src="/img/alerta.png" alt="Imagen que describa la entidad + logo de la aplicacion">
         </div>
         <!-- Navegacion por la pagina-->
         <ul class="navegacion">
            <li><a th:href="@{/index}">Inicio</a></li>
            <li>
               <!--Menu desplegable para las entidades-->
               <ul class="entidades-menu">
                  <li id="usuarios-link"><a th:href="@{/usuarios}">Usuarios</a></li>
                  <li id="maestros-link"><a th:href="@{/maestros}">Maestros</a></li>
                  <li id="grado-link"><a th:href="@{/grado}">Grado</a></li>
                  <li id="encargado-link"><a th:href="@{/encargados}">Encargado</a></li>
                  <li id="estudiante-link"><a th:href="@{/estudiantes}">Estudiante</a></li>
                  <li id="asistencia-link"><a th:href="@{/asistencia}">Asistencia</a></li>
                  <li id="materiasF-link"><a th:href="@{/materiasf}">Materias perdidas</a></li>
                  <li id="economia-link"><a th:href="@{/economia}">Economia</a></li>
                  <li id="riesgo-link"><a th:href="@{/riesgos}">Riesgo</a></li>
               </ul>
            </li>
         </ul>

         <!--Informacion del usuario y boton para cerrar sesion-->
         <div class="user-info">
            <span>Gabriel</span>
            <form th:action="@{/logout}" method="post">
               <button class="btn-cerrarSesion">Cerrar sesión</button>
            </form>
         </div>
      </header>

      <main class="main-content">
         <h1 class="titulo-entidad">Gestión de Alertas</h1>

         <!-- Botones para el put, post, delete y get-->
         <div class="crud-actions">
            <button class="btn-crud" id="btn-crear" popovertarget="datos" onclick="toggleIdInput(false)">Crear</button>
            <a th:href="@{/alertas/listar}"><button class="btn-crud" id="btn-listar">Listar</button></a>
            <form class="crud-search" th:action="@{/alertas/buscar}" method="get">
               <input type="number" placeholder="Buscar por ID..." name="idAlerta">
               <button type="submit" class="btn-crud" id="btn-buscar">
                  <img src="/img/buscar.png" alt="Logo de busqueda">
               </button>
            </form>
            <div class="message-container">
               <h2 id="error-text" th:if="${error!=null}" th:text="${error}">ERROR</h2>
               <h2 id="success-text" th:if="${success!=null}" th:text="${success}">EXITO</h2>
            </div>
         </div>

         <!-- Formulario para crear o actualizar una entidad-->
         <div id="datos" class="crud-form" popover>
            <form id="popup-form" th:action="@{/alertas}" method="post">

               <div class="input-group">

                  <div id="user-container">
                     <label for="id_alerta">ID Alerta:</label>
                     <input type="number" id="id_alerta" name="id_alerta" readonly required>
                  </div>

                  <div>
                     <label for="fecha_alerta">Fecha:</label>
                     <input type="date" id="fecha_alerta" name="fecha_alerta" required>
                  </div>

                  <div>
                     <label for="tipo_alerta">Tipo:</label>
                     <input type="text" id="tipo_alerta" name="tipo_alerta" required>
                  </div>

                  <div>
                     <label for="incidente_alerta">Incidente:</label>
                     <input type="text" id="incidente_alerta" name="incidente_alerta" required>
                  </div>

                  <div>
                     <label for="fk_id_riesgo">ID Riesgo:</label>
                     <input type="number" id="fk_id_riesgo" name="fk_id_riesgo" required>
                  </div>

               </div>
               <div class="btn-container">
                  <button type="submit" class="btn-crud" id="btn-crear-popoup">Crear</button>
                  <button type="submit" class="btn-crud" id="btn-actualizar-popoup">Actualizar</button>
               </div>
            </form>
         </div>

         <!-- Tabla de las entidades-->
         <div class=" table-container">
            <table class="crud-table">

               <thead> <!-- Encabezado de las columnas-->
                  <tr>
                     <th>ID</th>
                     <th>Fecha Alerta</th>
                     <th>Tipo Alerta</th>
                     <th>Incidente Alerta</th>
                     <th>ID Riesgo</th>
                     <th>Acciones</th>
                  </tr>
               </thead>

               <tbody> <!-- Contenido de la tabla-->
                  <tr th:each="a: ${alertas}"> <!-- Filas de ejemplo (tr representa una fila)-->
                     <td th:text="${a.id_alerta}"></td>
                     <td th:text="${a.fecha_alerta}"></td>
                     <td th:text="${a.tipo_alerta}"></td>
                     <td th:text="${a.incidente_alerta}"></td>
                     <td th:text="${a.fk_id_riesgo}"></td>
                     <td>
                        <div class="actions">
                           <button class="btn-crud btn-actualizar" popovertarget="datos"
                              th:data-id="${a.id_alerta}" th:data-fecha="${a.fecha_alerta}"
                              th:data-tipo="${a.tipo_alerta}" th:data-incidente="${a.incidente_alerta}"
                              th:data-riesgo="${a.fk_id_riesgo}" onclick="cargarData(this)">Actualizar</button>
                           <a th:href="@{/alertas/eliminar/{id}(id=${a.id_alerta})}"><button class="btn-crud btn-eliminar">Eliminar</button></a>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </main>
   </div>

   <script>
      //FUNCION PARA CARGAR LOS DATOS EN EL FORMULARIO DE ACTUALIZACION
      function cargarData(button) {
         document.getElementById("id_alerta").value = button.dataset.id;
         document.getElementById("fecha_alerta").value = button.dataset.fecha;
         document.getElementById("tipo_alerta").value = button.dataset.tipo;
         document.getElementById("incidente_alerta").value = button.dataset.incidente;
         document.getElementById("fk_id_riesgo").value = button.dataset.riesgo;
         toggleIdInput(true);
      }

      //FUNCION PARA OCULTAR Y MOSTRAR EL INPUT DEL ID
      function toggleIdInput(isUpdate) {
         const userContainer = document.getElementById("user-container");
         const btnActualizar = document.getElementById("btn-actualizar-popoup");
         const btnCrear = document.getElementById("btn-crear-popoup");
         const popupForm = document.getElementById("popup-form");
         if (isUpdate) {
            userContainer.style.display = "block";
            btnActualizar.style.display = "inline-block";
            btnCrear.style.display = "none";
            popupForm.setAttribute("action", "/alertas/editar");
         } else {
            userContainer.style.display = "none";
            btnActualizar.style.display = "none";
            btnCrear.style.display = "inline-block";
            popupForm.setAttribute("action", "/alertas/crear");
         }

      }
   </script>

</body>

</html>