<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Materias Perdidas</title>
   <link rel="stylesheet" href="Plantilla.css">
</head>

<body>
   <div class="layout">
      <!-- Encabezado de la página-->
      <header class="header">
         <div class="logo">
            <img src="/img/LogoMateriasF.png" alt="Imagen que describa la entidad + logo de la aplicacion">
         </div>
         <!-- Navegacion por la pagina-->
         <ul class="navegacion">
            <li><a th:href="@{/index}">Inicio</a></li>
            <li>
               <!--Menu desplegable para las entidades-->
               <ul class="entidades-menu">
                  <li id="usuarios-link"><a th:href="@{/usuarios}">Usuarios</a></li>
                  <li id="maestros-link"><a th:href="@{/maestros}">Maestros</a></li>
                  <li id="grado-link"><a th:href="@{/grado}">Grado</a></li>
                  <li id="encargado-link"><a th:href="@{/encargados}">Encargado</a></li>
                  <li id="estudiante-link"><a th:href="@{/estudiantes}">Estudiante</a></li>
                  <li id="asistencia-link"><a th:href="@{/asistencia}">Asistencia</a></li>
                  <li id="economia-link"><a th:href="@{/economia}">Economia</a></li>
                  <li id="riesgo-link"><a th:href="@{/riesgos}">Riesgo</a></li>
                  <li id="alerta-link"><a th:href="@{/alertas}">Alerta</a></li>
               </ul>
            </li>
         </ul>

         <!--Informacion del usuario y boton para cerrar sesion-->
         <div class="user-info">
            <span>Gabriel</span>
            <form th:action="@{/logout}" method="post">
               <button class="btn-cerrarSesion">Cerrar sesión</button>
            </form>
         </div>
      </header>

      <main class="main-content">
         <h1 class="titulo-entidad">Gestión de Materias Perdidas</h1>

         <!-- Botones para el put, post, delete y get-->
         <div class="crud-actions">
            <button class="btn-crud" id="btn-crear" popovertarget="datos" onclick="toggleIdInput(false)">Crear</button>
            <a th:href="@{/materiasf/listar}"><button class="btn-crud" id="btn-listar">Listar</button></a>
            <form class="crud-search" th:action="@{/materiasf/buscar}" method="get">
               <input type="number" placeholder="Buscar por ID..." name="idUsuario">
               <button type="submit" class="btn-crud" id="btn-buscar">
                  <img src="/img/buscar.png" alt="Logo de busqueda">
               </button>
            </form>
         </div>

         <!-- Formulario para crear o actualizar una entidad-->
         <div id="datos" class="crud-form" popover>
            <form id="popup-form" th:action="@{/materiasf}" method="post">

               <div class="input-group">

                  <div id="user-container">
                     <label for="idMateriasF">ID MateriasF:</label>
                     <input type="number" id="idMateriasF" name="idMateriasF" readonly required>
                  </div>

                  <div>
                     <label for="nombreMateriaF">Nombre MateriaF:</label>
                     <input type="text" id="nombreMateriaF" name="nombreMateriaF" required>
                  </div>

                  <div>
                     <label for="descripcionMateriaF">Descripcion:</label>
                     <input type="text" id="descripcionMateriaF" name="descripcionMateriaF" required>
                  </div>
                  <div>
                     <label for="fechaAlertaMateriaF">Fecha:</label>
                     <input type="date" id="fechaAlertaMateriaF" name="fechaAlertaMateriaF" required>
                  </div>
                  <div>
                     <label for="idMaestro">ID Maestro:</label>
                     <input type="number" id="idMaestro" name="idMaestro" required>
                  </div>
                  <div>
                     <label for="idEstudiante">ID Estudiante:</label>
                     <input type="number" id="idEstudiante" name="idEstudiante" required>
                  </div>

               </div>
               <div class="btn-container">
                  <button type="submit" class="btn-crud" id="btn-crear-popoup">Crear</button>
                  <button type="submit" class="btn-crud" id="btn-actualizar-popoup">Actualizar</button>
               </div>
            </form>
         </div>

         <!-- Tabla de las entidades-->
         <div class=" table-container">
            <table class="crud-table">

               <thead> <!-- Encabezado de las columnas-->
                  <tr>
                     <th>ID</th>
                     <th>Nombre Materia F</th>
                     <th>Descripcion Materia F</th>
                     <th>Fecha Alerta Materia F</th>
                     <th>ID Maestro</th>
                     <th>ID Estudiante</th>
                     <th>Acciones</th>
                  </tr>
               </thead>

               <tbody> <!-- Contenido de la tabla-->
                  <tr th:each=" m: ${materiasf}"> <!-- Filas de ejemplo (tr representa una fila)-->
                     <td th:text="${m.idMateriasF}"></td>
                     <td th:text="${m.nombreMateriaF}"></td>
                     <td th:text="${m.descripcionMateriaF}"></td>
                     <td th:text="${m.fechaAlertaMateriaF}"></td>
                     <td th:text="${m.idMaestro}"></td>
                     <td th:text="${m.idEstudiante}"></td>
                     <td>
                        <div class="actions">
                           <button class="btn-crud btn-actualizar" popovertarget="datos"
                              th:data-id="${m.idMateriasF}" th:data-nombre="${m.nombreMateriaF}"
                              th:data-descripcion="${m.descripcionMateriaF}" th:data-fechaf="${m.fechaAlertaMateriaF}"
                              th:data-maestro="${m.idMaestro}" th:data-estudiante="${m.idEstudiante}" onclick="cargarData(this)">Actualizar</button>
                           <a th:href="@{/materiasf/eliminar/{id}(id=${m.idMateriasF})}"><button class="btn-crud btn-eliminar">Eliminar</button></a>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </main>
   </div>

   <script>
      //FUNCION PARA CARGAR LOS DATOS EN EL FORMULARIO DE ACTUALIZACION
      function cargarData(button) {
         document.getElementById("idMateriasF").value = button.dataset.id;
         document.getElementById("nombreMateriaF").value = button.dataset.nombre;
         document.getElementById("descripcionMateriaF").value = button.dataset.descripcion;
         document.getElementById("fechaAlertaMateriaF").value = button.dataset.fechaf;
         document.getElementById("idMaestro").value = button.dataset.maestro;
         document.getElementById("idEstudiante").value = button.dataset.estudiante;
         toggleIdInput(true);
      }

      //FUNCION PARA OCULTAR Y MOSTRAR EL INPUT DEL ID
      function toggleIdInput(isUpdate) {
         const userContainer = document.getElementById("user-container");
         const btnActualizar = document.getElementById("btn-actualizar-popoup");
         const btnCrear = document.getElementById("btn-crear-popoup");
         const popupForm = document.getElementById("popup-form");
         if (isUpdate) {
            userContainer.style.display = "block";
            btnActualizar.style.display = "inline-block";
            btnCrear.style.display = "none";
            popupForm.setAttribute("action", "/materiasf/editar");
         } else {
            userContainer.style.display = "none";
            btnActualizar.style.display = "none";
            btnCrear.style.display = "inline-block";
            popupForm.setAttribute("action", "/materiasf/crear");
         }

      }
   </script>

</body>

</html>