<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Control de Deserción Escolar</title>
    <link rel="stylesheet" href="../styles/styleLogin.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="header">
                <h2>Inicio de Sesión</h2>
                <p>Sistema de Deserción Escolar</p>
            </div>
            
            <form>
                <div class="form__group">
                    <input type="email" class="form__field" id="email" placeholder="Correo" required>
                    <label for="email" class="form__label">Correo Electrónico</label>
                </div>

                <div class="form__group">
                    <input type="password" class="form__field" id="password" placeholder="Contraseña" required>
                    <label for="password" class="form__label">Contraseña</label>
                </div>

                <form id="loginForm">
    
                    <button type="submit" class="login-btn">Ingresar al Sistema</button>
                </form>
                
            </form>
        </div>
    </div>

</body>
</html>