<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Usuario</title>
  <link rel="stylesheet" href="../styles/Plantilla.css">
</head>

<body>
  <div class="layout">
    <!-- Encabezado de la página-->
    <header class="header">
        <div class="logo">
            <img src="../img/LogoUsuario.png" alt="Logo del sistema de Maestros">
        </div>
        <!-- Navegacion por la pagina-->
        <ul class="navegacion">
          <li><a href="../index/Pagina principal.html">Inicio</a></li>
          <li>
            <!--Menu desplegable para las entidades-->
            <ul class="entidades-menu">
              <li id="maestros-link"><a href="../components/Maestro.html">Maestros</a></li>
              <li id="grado-link"><a href="../components/Grado.html">Grado</a></li>
              <li id="encargado-link"><a href="../components/Encargado.html">Encargado</a></li>
              <li id="estudiante-link"><a href="../components/Estudiante.html">Estudiante</a></li>
              <li id="asistencia-link"><a href="../components/Asistencia.html">Asistencia</a></li>
              <li id="materiasF-link"><a href="../components/MateriasF.html">Materias perdidas</a></li>
              <li id="economia-link"><a href="../components/Economia.html">Economia</a></li>
              <li id="riesgo-link"><a href="../components/Riesgo.html">Riesgo</a></li>
              <li id="alerta-link"><a href="../components/Alerta.html">Alerta</a></li>
            </ul>
          </li>
        </ul>

        <!--Informacion del usuario y boton para cerrar sesion-->
        <div class="user-info">
            <span>Rodri</span>
            <button class="btn-cerrarSesion"></button>
        </div>
    </header>

    <main class="main-content">
      <h1 class="titulo-entidad">Gestión de Maestros</h1>

      <!-- Botones para el put, post, delete y get-->
      <div class="crud-actions">
        <button class="btn-crud" id="btn-crear">Crear</button>
        <button class="btn-crud" id="btn-actualizar">Actualizar</button>
        <button class="btn-crud" id="btn-eliminar">Eliminar</button>
        <button class="btn-crud" id="btn-listar">Listar</button>
      </div>

      <!-- Barra de busqueda-->
      <div class="crud-search">
        <input type="text" placeholder="Buscar por ID o nombre...">
        <button class="btn-crud" id="btn-buscar">
          <img src="../img/buscar.png" alt="Búsqueda">
        </button>
      </div>

      <!-- Tabla de las entidades-->
      <div class="table-container">
        <table class="crud-table">

          <thead> <!-- Encabezado de las columnas-->
            <tr>
              <th>ID</th>
              <th>Correo del Usuario</th>
              <th>Contraseña del Usuario</th>
              <th>Rol del Usuario</th>
              <th>Creación del Usuario</th>
            </tr>
          </thead>

          <tbody> <!-- Contenido de la tabla-->
            <tr> <!-- Filas de ejemplo (tr representa una fila)-->
              <td>1</td> <!-- Filas de ejemplo (td representa la informacion de una celda, debe cazar con el th)-->
              <td>rodrigo@correo.com</td>
              <td>contraseña123</td>
              <td>Administrador</td>
              <td>2024-01-01</td>
            </tr>
            <tr> <!-- Filas de ejemplo (tr representa una fila)-->
              <td>2</td> 
              <td>jorge@correo.com</td>
              <td>contraseña456</td>
              <td>Maestro</td>
              <td>2024-01-02</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

  </div>
</body>

</html>